<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Code Config</title>

        <link rel="stylesheet" th:href="@{/css/styles.css}">

        <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    </head>
    <body class="body-inner-frame">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-custom">
                    <div class="float-left">
                        <label class="col-form-label col-form-label-card-header-lg"><i class="fas fa-cogs custom-card-header-fas-icon"></i>코드 관리</label>
                    </div>

                    <div class="float-right">
                        <div class="row">
                            <form class="form-inline">
                                <select class="form-control mr-2" id="codeType" onchange="getCodeList()">
                                    <option value="" selected disabled>선택</option>
                                    <option th:each="type : ${types}" th:value="${type.type}" th:text="${type.value}"></option>
                                </select>
                                <button class="btn btn-outline-primary mr-2" type="button" onclick="getCodeList()"><i class="fas fa-search mr-2"></i>검색</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-1 d-none">
                            <label for="id">id</label>
                            <input type="text" class="form-control text-center" id="id" autocomplete="off" readonly>
                        </div>
                        <div class="form-group col-1">
                            <label for="seq">순서</label>
                            <input type="number" class="form-control text-center" autocomplete="off" step="1" min="1" id="seq">
                        </div>
                        <div class="form-group col-2">
                            <label for="code">코드</label>
                            <input type="text" class="form-control text-center" autocomplete="off" id="code" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label for="value">값</label>
                            <input type="text" class="form-control text-center" autocomplete="off" id="value">
                        </div>
                        <div class="form-group col-4">
                            <label for="remarks">비고</label>
                            <input type="text" class="form-control" autocomplete="off" id="remarks">
                        </div>
                        <div class="form-group col-1">
                            <label for="enabled">사용</label>
                            <select class="form-control" id="enabled">
                                <option value="1">True</option>
                                <option value="0">False</option>
                            </select>
                        </div>
                        <div class="form-group col-1">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-outline-info btn-block" onclick="clearForm()"><i class="fas fa-plus mr-2"></i>신규</button>
                        </div>
                        <div class="form-group col-1">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-outline-success btn-block" onclick="saveCode()"><i class="fas fa-save mr-2"></i>저장</button>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-12">
                            <table class="table table-hover" id="tableCodeList">
                                <thead>
                                    <tr class="text-center">
                                        <th class="d-none">id</th>
                                        <th class="d-none">enabled</th>
                                        <th>순서</th>
                                        <th>코드</th>
                                        <th>값</th>
                                        <th>비고</th>
                                        <th>사용</th>
                                        <th><i class="fas fa-check"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="codeList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

        <script th:src="@{/js/common/fetch-custom.js}"></script>
        <script th:src="@{/js/admin/code-config.js}" sec:authorize="hasAnyAuthority('ADMIN')"></script>
    </body>
</html>