<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="attachments-list-section">
        <div class="form-row" th:classappend="${fileList} == null ? d-none">
            <div class="from-group col-12">
                <label class="col-form-label col-form-label-sm text-muted"><i class="fas fa-download text-info mr-2"></i>Attachments</label>
                <div class="list-group">
                    <a th:each="file : ${fileList}" th:href="|/attachments/${file.docsId}/${file.seq}/${file.conversionName}|" th:text="${file.originalName}" class="list-group-item list-group-item-action" style="font-size: 0.75rem;" download></a>
                </div>
            </div>
        </div>
    </th:block>
</html>