<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Simple GW</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/themes/dark.min.css">

        <link rel="stylesheet" th:href="@{/css/common/common.css}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow bg-body rounded-3">
                        <div class="card-header">
                            <div class="card-header-icon"><i class="fa-solid fa-calendar-day"></i></div><span class="text-secondary align-middle" th:text="${pageTitle}"></span>
                            <span class="float-end">
                                <button type="button" class="btn btn-outline-success btn-sm btn-icon" th:if="${isUpdatable} == true" onclick="update()"><i class="fa-solid fa-check"></i></button>
                                <button type="button" class="btn btn-outline-danger btn-sm btn-icon ms-1" th:if="${isDeletable} == true" onclick="del()"><i class="fa-solid fa-trash-can"></i></button>
                            </span>
                        </div>

                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <span class="custom-fs-9 text-secondary" th:text="|등록: ${#temporals.format(data.createdDatetime, 'yy. MM. dd. HH:mm')}|"></span>
                                </div>
                                <div class="col-6">
                                    <span class="custom-fs-9 text-secondary float-end" th:text="|${data.team} ${data.jobTitle} ${data.name}|"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-8">
                                    <span class="custom-fs-9 text-secondary">[ No. <span th:text="${data.id}" id="scheduleId"></span> ]</span>
                                </div>
                                <div class="col-4" th:if="${isUpdatable} == true">
                                    <select class="form-select" id="code">
                                        <option th:each="code : ${codes}" th:value="${code.key}" th:text="${code.value}" th:selected="${code.key} == ${data.code}"></option>
                                    </select>
                                </div>
                                <div class="col-4" th:if="${isUpdatable} == false">
                                    <select class="form-select" id="code" th:disabled="${isUpdatable} == false">
                                        <option th:value="${data.code}" th:text="${data.value}" selected disabled></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-calendar-day"></i></span>
                                        <input type="text" class="form-control text-center input-date-range" th:value="|${#temporals.format(data.dateFrom, 'yyyy. MM. dd.')} ~ ${#temporals.format(data.dateTo, 'yyyy. MM. dd.')}|" autocomplete="off" th:disabled="${isUpdatable} == false">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa-solid fa-clock"></i></span>
                                        <input type="text" class="form-control text-center input-time" th:if="${data.timeFrom} == null" autocomplete="off" disabled>
                                        <input type="text" class="form-control text-center input-time" th:unless="${data.timeFrom} == null" th:value="${#temporals.format(data.timeFrom, 'HH : mm')}" autocomplete="off" th:disabled="${isUpdatable} == false">
                                        <span class="input-group-text">~</span>
                                        <input type="text" class="form-control text-center input-time" th:if="${data.timeTo} == null" autocomplete="off" disabled>
                                        <input type="text" class="form-control text-center input-time" th:unless="${data.timeTo} == null" th:value="${#temporals.format(data.timeTo, 'HH : mm')}" autocomplete="off" th:disabled="${isUpdatable} == false">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <input type="text" class="form-control" id="title" th:value="${data.title}" placeholder="제목을 작성하세요." autocomplete="off" th:disabled="${isUpdatable} == false">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <textarea class="form-control" rows="5" id="content" th:text="${data.content}" placeholder="내용을 작성하세요.(생략 가능)" th:disabled="${isUpdatable} == false"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Script -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/dayjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/locale/ko.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/ko.min.js"></script>

        <script defer th:src="@{/js/common/fetch-custom.js}"></script>
        <script defer th:src="@{/js/schedule/personal/view.js}"></script>
        <script defer th:src="@{/js/schedule/common.js}" th:if="${isUpdatable} == true"></script>
        <script defer th:src="@{/js/schedule/personal/update.js}" th:if="${isUpdatable} == true"></script>
        <script defer th:src="@{/js/schedule/personal/delete.js}" th:if="${isDeletable} == true"></script>
    </body>
</html>