<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Calendar Frame</title>

        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body class="body-inner-frame">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-custom">
                    <div class="float-left">
                        <label class="col-form-label col-form-label-card-header-lg"><i class="far fa-calendar-alt custom-card-header-fas-icon"></i>일정 및 예약</label>
                    </div>

                    <div class="float-right">
                        <div class="row">
                            <div class="form-inline">
                                <div class="form-group mr-2">
                                    <select class="form-control" id="typeSelector" onchange="sendToMain('reload')">
                                        <option th:each="type : ${types}" th:value="${type}" th:text="${type.getTitle()}"></option>
                                    </select>
                                </div>
                            </div>
                            
                            <button class="btn btn-outline-primary mr-2" type="button" onclick="sendToMain('search')"><i class="fas fa-search mr-2"></i>검색</button>
                            <button class="btn btn-outline-success" type="button" onclick="sendToMain('write')"><i class="fas fa-edit mr-2"></i>작성</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <!-- full-calendar와 bootstrap의 css가 서로 얽혀서 렌더링이 제대로 되지 않아 분리한다. -->
                    <iframe id="main" th:src="@{/schedule/main}" style="display: block; border: none; width: 100%; height: 85vh"></iframe>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script th:src="@{/js/full-calendar/fc-frame.js}"></script>
    </body>
</html>